
@import url('../common.css');


#consultar {
    color: white;
    margin:2px
}


#sec-titulo{
    display:flex;
    justify-content: space-evenly;
    height: 300px;
    
}
#titulo-parrafo{
    width: 50%;
}

#sec-contenido{
    width:90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}
#botones-paso-generales{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
#button-paso-logo{
    display: flex;
    align-items: center;
    background-color: var(--magenta);
    border:none;
    padding:5px;
    width: 280px;
    color: white;
    border-radius: 5px;
    margin:3px;
    height:4.5rem;
    
    
}
a{
    text-decoration: none;
}
#button-generales-logo{
    display: flex;
    align-items: center;
    background-color: var(--celeste);
    border:none;
    width: 280px;
    padding:5px;
    color:white;
    border-radius: 5px;
    margin: 3px;
    height: 4.5rem;
}
button {
    cursor: pointer;
}